body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #f9fdff;
}

a{
	text-decoration: none;
	color: black;
}
.scaled-wh {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.float-r {
	float: right;
}

.clear {
	clear: both;
}
.overlay {
width: 100%;
height: 100%;
top: 0px;
position: absolute;
background-color: rgba(0,0,0,.5);
z-index: 100;
display: none;
}

.container {
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

/* Title Stuff */
.title {
	float: left;
	font-size: 60px;
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: 5px;

}

.icon {
	float: right;
	height: 60px;
	width: 60px;
	margin-top: 10px;
	margin-left: 10px;
}
.menu-item {
	font-size: 20px;
	margin: 10px;
	padding: 10px;
}

.menu {
	margin-top: 25px;
}

.intro {
	font-size: 20px;
	font-style: italic;
	letter-spacing: 2px;
}

/*Photos*/

.photo {
	margin: 120px 2px 0px 2px;
	height: 230px;
	width: 230px;
	float: left;
	-webkit-transition: linear 0.2s;
	-moz-transition: linear 0.2s;	
}

.photo-active {
	-webkit-transform: translateY(-80px);
	-moz-transform: translateY(-80px);
}

.circle {
	border-radius: 50%;
}

/*Descriptions*/

.description {
	text-align: center;
	float: left;
	background-color: #cbe5fd;
	margin: -60px 20px 0px -15px;
	width: 220px;
	padding: 10px;
	opacity: 0;
	-webkit-transition: linear .1s;
	-moz-transition: linear .1s;
	border-radius: 5%;

}

.description-active {
	opacity: 1;
}